<div class="modal fade" id="modal-success-action" 
    tabindex="-1" 
    aria-labelledby="modal-title" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header d-flex flex-column">
          <iframe id="modal-animation" src="https://lottie.host/embed/b187c1ea-90fb-4aaf-a964-9d799eb60c22/ML5kHr0sl6.lottie"></iframe>
          <h5 class="modal-title ms-2 fw-semibold fs-3 pb-4" id="modal-title">
            Default Title
          </h5>
        </div>
      </div>
    </div>
</div>
