<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/list-group-chat.css">
    <link rel="stylesheet" href="../public/css/main-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>
<body>
    <div id="list-group-chat" class="list-group-chat">

        <div id="header-list-chat" class="header-list-chat">
            <h2 class="default">Đoạn chat</h2>
        </div>

        <div class="search-box">
            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" placeholder="Find group">
        </div>

        <div class="list-group-container">

            <div class="group-container">

                    <div class="avatar-group">
                        <img src="/src/public/img/login/facebook.png" alt="" class="avatar">
                    </div>
                    <div class="name">Rhett Sanchez</div>
        
                    <div class="user-streak">
                        <img src="../public/img/list-team-goal/slider2.png" alt="" class="icon-streak">
                        <div class="number-streak">
                          <span>30</span>
                        </div>
                    </div>
            </div>
            <div class="list-group-container">

                <div class="group-container">
    
                        <div class="avatar-group">
                            <img src="/src/public/img/login/facebook.png" alt="" class="avatar">
                        </div>
                        <div class="name">Rhett Sanchez</div>
            
                        <div class="user-streak">
                            <img src="../public/img/list-team-goal/slider2.png" alt="" class="icon-streak">
                            <div class="number-streak">
                              <span>30</span>
                            </div>
                        </div>
                </div>

        </div>

    </div>
</body>
</html>