<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../public/img/introduction/icon.png">
  <title>Scope Tour</title>
  <!-- Bootstrap -->
  <link href="../public/css/main.min.css" rel="stylesheet">

  <!-- Main style and font-awesome icon -->
  <link rel="stylesheet" href="../public/css/main-style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Sidebar -->
  <link rel="stylesheet" href="../public/css/list-goal-team.css">

  <!-- Modal filter -->
   <link rel="stylesheet" href="../public/css/components/filter-modal.css">

   <!-- Modal sort -->
   <link rel="stylesheet" href="../public/css/components/sort-modal.css">

  <!-- Layout delete -->
   <link rel="stylesheet" href="../public/css/components/layout-delete.css">

   <!-- Modal confirmation -->
   <link rel="stylesheet" href="../public/css/components/confirmation-modal.css">

  <!-- Multiple emails input -->
  <link rel="stylesheet" href="../public/css/multiple-emails-input/email.css">
  <link rel="stylesheet" href="../public/css/multiple-emails-input/examples.css">
  <script type="text/javascript" src="../js/list-goal-team-sidebar.js" defer></script>
</head>
<body>
  <!-- Sidebar -->
  <custom-sidebar data-active-menu="team"></custom-sidebar>
  
  <!-- Main Content -->
  <main>
    <!-- Header -->
    <div id="header">
      <div class="header-user">
        <div class="user-avatar">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user-name">
          <h3 class="my-0">Trần Quang Hiếu</h3>
        </div>
        <div class="user-streak">
          <img src="../public/img/list-team-goal/slider2.png" alt="streak" class="icon-streak">
          <div class="number-streak"><span>30</span></div>
        </div>
      </div>
      <div class="header-time">
        <h4 class="time my-0">9:41</h4>
      </div>
    </div>
    <!-- End Header -->
    
    <!-- Button List -->
    <div id="buttons">
      <div class="button-list">
        <div class="create-btn">
          <button data-bs-toggle="modal" data-bs-target="#reg-modal">
            <i class="fa-solid fa-circle-plus"></i>
            <span>Create</span>
          </button>
        </div> 
        <div class="search-btn">
          <input type="text" placeholder="Search your team name" id="searchTeam" class="email">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul>
          <li onclick=openLayoutDelete()>
            <i class="fa-solid fa-trash-can"></i>
            <span>Delete</span>
          </li>
          <li data-bs-toggle="modal" 
            data-bs-target="#modal-filter">
            <i class="fa-solid fa-filter"></i>
            <span>Filter</span>
          </li>
          <li data-bs-toggle="modal" 
          data-bs-target="#modal-sort">
            <i class="fa-solid fa-sort"></i>
            <span>Sort</span>
          </li>
        </ul>
      </div>
    </div>


    <!-- MODAL FILTER  -->
   <!-- fade: hiệu ứng chuyển đổi mở dần khi modal xuất hiện hoặc biến mất -->
    <div class="modal fade" id="modal-filter" 
    tabindex="-1" 
    aria-labelledby="modal-title" 
    aria-hidden="true"
    >
    <!-- modal-dialog-centered: modal sẽ nằm giữa khung hình, còn mặc định là nằm phía trên -->
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Filter for: All teams</h5>
            <!-- dismiss: Khi click vào button close thì sẽ đóng modal -->
            <button type="button" class="btn-close" 
              data-bs-dismiss="modal" 
              aria-label="Close">
              </button>
          </div>
          <!-- <form action=""> -->
            <div class="modal-body">
              <!-- Begin: form check number streak -->
              <div class="form-check-number-streak">
                <div class="form-check-title">
                  <img src="../public/img/list-team-goal/slider2.png" alt="streak" class="icon-streak">
                  <h6 class="">Number of streaks</h6>
                </div>
                <div class="container p-4">
                  <div class="row row-cols-2">
                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="low-streak">
                        <label class="form-check-label" for="low-streak">
                          0 - 10
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="medium-streak">
                        <label class="form-check-label" for="medium-streak">
                          11 - 50
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="high-streak">
                        <label class="form-check-label" for="high-streak">
                          51 - 100
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="extreme-streak">
                        <label class="form-check-label" for="extreme-streak">
                          > 100
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End: form check number streak -->
              
              <!-- Begin: form check time join -->
              <div class="form-check-time-join">
                <div class="form-check-title">
                  <img src="../public/img/filter-team/watch.png" alt="streak" class="icon-streak">
                  <h6 class="">Time join the team</h6>
                </div>
                <div class="container p-4">
                  <div class="row row-cols-2">
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="low-time">
                        <label class="form-check-label" for="low-time">
                          Today
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="medium-time">
                        <label class="form-check-label" for="medium-time">
                          Yesterday
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="high-time">
                        <label class="form-check-label" for="high-time">
                          Last week
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="extreme-time">
                        <label class="form-check-label" for="extreme-time">
                          Last month
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End: form check time join -->

              <!-- Begin: form check number member -->
              <div class="form-check-number-streak">
                <div class="form-check-title">
                  <img src="../public/img/filter-team/team-spirit.png" alt="streak" class="icon-streak">
                  <h6 class="">Number of members</h6>
                </div>
                <div class="container p-4">
                  <div class="row row-cols-2">
                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="low-member">
                        <label class="form-check-label" for="low-member">
                          0 - 3
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="medium-member">
                        <label class="form-check-label" for="medium-member">
                          4 - 7
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="high-member">
                        <label class="form-check-label" for="high-member">
                          8 - 12
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="extreme-member">
                        <label class="form-check-label" for="extreme-member">
                          > 12
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End: form check number member -->
              
              
            </div>
            <div class="modal-footer">
              <button onclick=uncheckAllItemModalFilter() type="button" class="btn btn-secondary">Remove</button>
              <button type="submit" class="btn btn-primary">Apply filters</button>
            </div>
          <!-- </form> -->
          
        </div>
      </div>
    </div>

    <!-- MODAL SORT -->
    <div class="modal fade" id="modal-sort" 
    tabindex="-1" 
    aria-labelledby="modal-title" 
    aria-hidden="true"
    >
    <!-- modal-dialog-centered: modal sẽ nằm giữa khung hình, còn mặc định là nằm phía trên -->
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Sort for: All teams</h5>
            <!-- dismiss: Khi click vào button close thì sẽ đóng modal -->
            <button type="button" class="btn-close" 
              data-bs-dismiss="modal" 
              aria-label="Close">
              </button>
          </div>
          <!-- <form action=""> -->
            <div class="modal-body">
              <!-- Begin: form check criteria of sort -->
              <div class="form-check-criteria-sort">
                <div class="form-check-title">
                  <img src="../public/img/list-team-goal/slider2.png" alt="streak" class="icon-streak">
                  <h6 class="">Criteria of sort</h6>
                </div>
                <div class="container p-4">
                  <div class="row row-cols-2">
                    <div class="col">
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="criteria-sort" value="" id="name">
                        <label class="form-check-label" for="name">
                          Name
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="criteria-sort" value="" id="streak">
                        <label class="form-check-label" for="streak">
                          Streak
                        </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="criteria-sort" value="" id="time-join">
                          <label class="form-check-label" for="time-join">
                            Time join
                          </label>
                      </div>
                    </div>

                    <div class="col">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="criteria-sort" value="" id="member">
                          <label class="form-check-label" for="member">
                            Member
                          </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End: form check criteria of sort -->
              
              <!-- Begin: form check type -->
              <div class="form-check-type-sort">
                <div class="form-check-title">
                  <img src="../public/img/list-team-goal/slider2.png" alt="streak" class="icon-streak">
                  <h6 class="">Type of sort</h6>
                </div>
                <div class="container p-4">
                  <div class="row row-cols-2">
                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="type-sort" value="" id="ascending">
                        <label class="form-check-label" for="ascending">
                          Ascending
                        </label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="type-sort" value="" id="descending">
                        <label class="form-check-label" for="descending">
                          Descending
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- End: form check type -->

            </div>
            <div class="modal-footer">
              <button onclick=uncheckAllItemModalSort() type="button" class="btn btn-secondary">Remove</button>
              <button type="submit" class="btn btn-primary">Apply sort</button>
            </div>
          <!-- </form> -->
          
        </div>
      </div>
    </div>
    
    <!-- MODAL CREATE Team -->
    <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Create a team</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" 
                    aria-label="Close"></button>
          </div>
          <form id="createTeamForm">
            <div class="modal-body">

              <label for="modal-team-name" class="form-label my-1">
                <span>Team name</span>
                <div class="icon-important">
                  <i class="fa-solid fa-asterisk"></i>
                </div>
              </label>
              <input type="text" class="form-control mb-1" id="modal-team-name" required 
                     placeholder="Rumble Team" maxlength="50">
              <small id="char-count-team" class="text-muted mb-3 d-block">0/50 characters</small>

              <!-- Invite member -->
              <label class="form-label my-1">Invite team member</label>
              <div id="sample1"></div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="btn-create-team">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- MODAL UPDATE -->
    <div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="update-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="update-modal-title">Update Team</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="updateTeamForm">
            <div class="modal-body">
              <input type="hidden" id="update-team-id">
              <label for="update-team-name" class="form-label">
                <span>Team name</span>
                <div class="icon-important">
                  <i class="fa-solid fa-asterisk"></i>
                </div>
              </label>
              <input type="text" class="form-control" id="update-team-name" required maxlength="50">
              <small id="char-count-team-update" class="text-muted mb-3 d-block">0/50 characters</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="btn-update">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- LAYOUT DELETE MANY ITEMS -->
    <div class="layout-delete-many-items">
      <div class="container-fluid d-flex mt-4">
          <h5 class="number-item-selected m-0">
            <span class="number ms-4">0</span>
            <span class="des">Item selected</span>
          </h5>
          
          <div class="action-list">
            <div class="select-all">
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" value="" id="select-all">
                <label class="form-check-label" for="select-all">
                  Select All
                </label>
              </div>
            </div>

            <div class="delete-items">
              <!-- <i class="fa-solid fa-trash-can"></i>   -->
              <span>Delete</span>          
            </div>

            <div class="close-layout" onclick=closeLayoutDelete()>
              <i class="fa-regular fa-circle-xmark"></i>
              <span>Close</span> 
            </div>
          </div>
      </div>
     </div>

  

    
    <!-- Team List -->
    <div id="team">
      <h4 class="heading">List of teams</h4>
      <ol id="teamList" class="olcards">

         
         
      </ol>
    </div>




    <!-- MODAL CONFIRMATION DELETE -->
    <div class="modal fade" id="modal-confirmation-delete" 
    tabindex="-1" 
    aria-labelledby="modal-title" 
    aria-hidden="true"
    >
    <!-- modal-dialog-centered: modal sẽ nằm giữa khung hình, còn mặc định là nằm phía trên -->
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <i class="fa-solid fa-trash-can type-confirmation-img"></i>
            <h5 class="modal-title ms-2 fw-bold" id="modal-title">
              Delete
              <span class="type-of-object">Team</span>
            </h5>
            <!-- dismiss: Khi click vào button close thì sẽ đóng modal -->
            <button type="button" class="btn-close" 
              data-bs-dismiss="modal" 
              aria-label="Close">
              </button>
          </div>
          <!-- <form id="confirmationDeleteForm"> -->
            <div class="modal-body">
              <div class="question-confirmation d-flex align-items-center fs-5 fw-medium">
                <span>Are you sure want to delete</span>
                <span class="object-deleted-name fw-semibold my-0 mx-1" id="team-name-delete">
                  Rumble
                </span>
                <span>?</span>
              </div>

              <div class="warning mt-2">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <span class="warning-content ms-1">
                  By Deleting this
                  <span class="type-of-object">Team</span>
                  ,
                  <span class="waring-desc">all the data about subject and task will also be deleted.</span>
                </span>
              </div>
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
              <button  class="btn btn-primary btn-yes" id="btn-confirm-delete">
                Yes,
                <span class="type-of-action">Delete</span>
              </button>
            </div>
          <!-- </form> -->
          
        </div>
      </div>
    </div>

     <!-- MODAL CONFIRMATION EDIT -->
     <div class="modal fade" id="modal-confirmation-edit" 
     tabindex="-1" 
     aria-labelledby="modal-title" 
     aria-hidden="true"
     >
     <!-- modal-dialog-centered: modal sẽ nằm giữa khung hình, còn mặc định là nằm phía trên -->
       <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
         <div class="modal-content">
           <div class="modal-header">
             <i class="fa-solid fa-pen-to-square type-confirmation-img"></i>
             <h5 class="modal-title ms-2 fw-bold" id="modal-title">
               Edit
               <span class="type-of-object">Team</span>
             </h5>
             <!-- dismiss: Khi click vào button close thì sẽ đóng modal -->
             <button type="button" class="btn-close" 
               data-bs-dismiss="modal" 
               aria-label="Close">
               </button>
           </div>
           <!-- <form action=""> -->
             <div class="modal-body">
               <div class="question-confirmation d-flex align-items-center fs-5 fw-medium">
                 <span>Are you sure want to edit</span>
                 <span class="object-deleted-name fw-semibold my-0 mx-1" id="team-name-edit">
                   Rumble
                 </span>
                 <span>?</span>
               </div>

               <div class="warning mt-2">
                 <i class="fa-solid fa-triangle-exclamation"></i>
                 <span class="warning-content ms-1">
                  Make sure your changes are correct before saving, as they may impact team collaboration.
                 </span>
               </div>
               
               
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
               <button type="button" class="btn btn-primary btn-yes" id="btn-confirm-edit">
                 Yes,
                 <span class="type-of-action">Edit</span>
               </button>
             </div>
           <!-- </form> -->
           
         </div>
       </div>
     </div>

     <!-- MODAL STATUS ACTION -->
    <div id="modal-status-action-container"></div>
  </main>
  <!-- End Main Content -->
  
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
          crossorigin="anonymous"></script>

  <script src="../js/multiple-emails-input/utils.js"></script>
  <script src="../js/multiple-emails-input/emails-input.js"></script>
  <script src="../js/multiple-emails-input/examples.js"></script>

  
  <script src="../js/component.js"></script>

  <!-- Our main JS file -->
  <script type="module" src="../public/activity/time.js"></script>

  <!-- handle logic of team -->
  <script type="module" src="../public/activity/team-2.js"></script>


  <!-- layout delete -->
  <script src="../js/toggeLayoutDelete.js"></script>

  <!-- Uncheck all item in modal -->
  <script src="../js/uncheck-item-modal.js"></script>

  <!-- Modal status of action -->
  <script src="../js/show-modal-action-success.js"></script>

  <!-- Get Email -->
   <script src="../js/getMail.js"></script>

  <!-- Logic close modal, ensure remove class .modal-backdrop
   <script src="../js/closeModal.js"></script> -->


   <!-- Count character -->
    <script src="../js/countCharacter.js"></script>
    <script>
      // Gọi hàm cho từng input cần theo dõi
      document.addEventListener("DOMContentLoaded", function () {
          addCharacterCounter("modal-team-name", "char-count-team");
          addCharacterCounter("update-team-name", "char-count-team-update");
      });
    </script>


</body>
</html>
