
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/img/introduction/icon.png">
  <title>Scope Tour</title>
    <!-- Boostrap -->
  <link href="../public/css/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/public/css/main-style.css">

    <link rel="stylesheet" href="../public/css/select-pet.css">

    <link rel="stylesheet" href="../public/css/list-goal-team.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/src/js/list-goal-team-sidebar.js" defer></script>
    <title>Document</title>
</head>
<body>

  
  <custom-sidebar data-active-menu="pet"></custom-sidebar>
  
   
  <!--Begin: Main Content -->
  <main>
    <!--Begin: Header -->
    <div id="header">
      <div class="header-user">
        <div class="user-avatar">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user-name">
          <h3 class="my-0">Trần Quang Hiếu</h3>
        </div>
        <div class="user-streak">
          <img src="../public/img/list-team-goal/slider2.png" alt="" class="icon-streak">
          <div class="number-streak">
            <span>30</span>
          </div>
        </div>
      </div>

      <div class="header-time">
        <h4 class="time my-0">
          9:41
        </h4>
      </div>
    </div>
    <!--End: Header -->
    
    <!-- Begin: Button List -->
    <div id="buttons">
      <div class=" button-list">  
        <div class="search-btn ps-0">
          <input  type="email" placeholder="Seach pet name" required="" name="" id="searchSubject" class="email">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <ul class="button-list-second">
        
          <li data-bs-toggle="modal" 
            data-bs-target="#modal-filter">
            <i class="fa-solid fa-filter"></i>
            <span>Filter</span>
          </li>
          <li data-bs-toggle="modal" 
          data-bs-target="#modal-sort">
            <i class="fa-solid fa-sort"></i>
            <span>Sort</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="pet-block">
        <ul class="pet-list">
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/bee.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">BumbleBee</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/koala.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">KocaKoala</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/dog.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Bolt</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/cow.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Toro</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/crab.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">HurryKing</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/dragon1.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Dragon</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/monkey.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Vini</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/panda.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Zuka</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/cat.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">OrangeCat</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/parrot.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Parrot</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/elephant.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">Elephone</p>
            </li>
            <li class="pet">
                <img class = "pet-img "  src="/src/public/img/pets/killer-whale.png" alt="" class="bee-pet">
                <img src="../public/img/pets/lock.png" alt="" class="lock-img">
                <p class="streaks">100</p>
                <p class="pet-name">WhaleFin</p>
            </li>
        </ul>
     </div>


     <!-- Modal -->
<div id="pet-modal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal()"><i class="fa-solid fa-xmark"></i></span>
      <img id="modal-pet-img" class="modal-pet-img" src="/src/public/img/pets/cat.png" alt="Pet">
      <h2 id="modal-pet-name">OrangeCat</h2>
      <p>You need <span class="highlight">100 streaks</span> to unlock</p>
      <button id="unlock-btn" class="unlock-btn">Unlock</button>
  </div>
</div>



  </main>
  <!--End: Main Content -->

  <script src="../public/activity/select_pet.js"></script>
     
  <script src="../js/component.js"></script>

  <!-- Our main JS file -->
  <script type="module" src="../public/activity/time.js"></script>
</body>
</html>