<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/signup.css">


    <title>Document</title>
</head>

<body>

    <div id="main">
        <div id="logo">
            <img class = "logo-img" src="../public/img/introduction/icon.png" alt="Scope Tour"  >
            <h3 class="logo-name">Scope Tour</h3>
        </div>
        <div class="sign-up-title">
             <h1 class="sign-up-to">Sign up to</h1>
             <h1 class="scope-tour-title">Scope Tour</h1>
        </div>
       

        <div class="first-sign-up">
            <div class="container-sign-up">
                <div class="username-block">
                    <label for="username-">Username</label>
                    <input type="text" id="username" name="username" placeholder="Scope tour" required>
                </div>
        
                <div class="email-block">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="scopetour@gmail.com" required>
                </div>
        
                <div class="password-block">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Create password" required>
                </div>
        
                <div class="password-confirm-block">
                    <label for="password-confirm">Password confirm</label>
                    <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm password" required>
                </div>

                <button class="sign-up-btn" type="submit">Sign up</button>
                <div class="log-in">
                    <p class="label">Already have an account?</p>
                    <a href="#" class="link-log-in">Login now</a>
                </div>
            </div>
        </div>


    </div>
    
    
</body>
</html>