<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/user-profile.css">
    <link rel="stylesheet" href="../public/css/main-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/src/js/list-goal-team-sidebar.js" defer></script>

    <title>Document</title>
</head>
<body>

<!--Begin: Slider -->
<nav id="sidebar">
    <ul class="sidebar-part1">
      <li>
        <img class = "logo-img" src="../public/img/introduction/icon.png" alt="Scope Tour"  >
        <span class="logo">Scope Tour</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <i class="fa-solid fa-angles-left"></i>        
        </button>
      </li>
      <li>
        <a href="../html/introduction.html">
            <i class="fa-solid fa-house"></i>          
            <span>Home</span>
        </a>
      </li>
      <li>
        <button onclick=toggleSubMenu(this) class="dropdown-btn">
          <i class="fa-solid fa-list-check"></i>            
          <span>List goals</span>
          <i class="fa-solid fa-angle-down"></i>          </button>
          <ul class="sub-menu">
            <div>
              <li>
                <a href="#">
                  <i class="fa-solid fa-user"></i>
                  Personal
                </a>
              </li>
              <li  class="active">
                <a href="#">
                  <i class="fa-solid fa-people-group"></i>
                  Team
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-solid fa-calendar-days"></i>
                  Calendar
                </a>
              </li>
            </div>
          </ul>
      </li>
      <li>
        <a href="calendar.html">
          <i class="fa-solid fa-comment-dots"></i>            <span>Messages</span>
          </a>
      </li>
      <li>
        <a href="calendar.html">
            <i class="fa-solid fa-paw"></i>
            <span>Pet</span>
        </a>
      </li>
      <li>
        <a href="profile.html">
            <i class="fa-solid fa-user-gear"></i>
            <span>User Profile</span>
        </a>
      </li>
      <li>
        <a href="profile.html">
            <i class="fa-solid fa-bell"></i>
            <span>Notification</span>
        </a>
      </li>
      <li>
        <a href="profile.html">
          <i class="fa-solid fa-gear"></i>
            <span>Setting</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar-part2">
      <li>
        <a href="profile.html">
          <i class="fa-solid fa-circle-question"></i>
            <span>Help</span>
        </a>
      </li>
      <li>
        <a href="profile.html">
          <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log out</span>
        </a>
      </li>
    </ul>
  </nav>
  <!--End: Slider -->
  <!--Begin: Main Content -->
  <main>
    <!--Begin: Header -->
    <div id="header">
      <div class="header-user">
        <div class="user-avatar">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user-name">
          <h3>Trần Quang Hiếu</h3>
        </div>
        <div class="user-streak">
          <img src="/src/public/img/list-team-goal/slider2.png" alt="" class="icon-streak">
          <div class="number-streak">
            <span>30</span>
          </div>
        </div>
      </div>

      <div class="header-time">
        <h4 class="time">
          9:41
        </h4>
      </div>
    </div>
    <!--End: Header -->
    
    
    

    <div class="profile-container">
        <h2>Edit profile</h2>
        <div class="profile-image" onclick="triggerFileInput()">
            <img src="../public/img/login/facebook.png" alt="Profile" >
            <input type="file" id="image" name="image" accept="image/*" onchange="handleChange(event)">

        </div>
        
        <div class="input-container">
            <label for="name">Name</label>
            <input type="text" id="name" value="Võ Hùng Cường">
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input type="email" id="email" value="vohungcuong@gmail.com">
        </div>
        <div class="input-container">
            <label for="phone">Phone number</label>
            <input type="tel" id="phone" value="0918300595">
        </div>
    </div>


<script src="../public/activity/user_profile.js"></script>

</body>
</html>