<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/main-style.css">
    <link rel="stylesheet" href="../public/css/user-profile.css">
    <link rel="stylesheet" href="../public/css/list-goal-team.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/src/js/list-goal-team-sidebar.js" defer></script>

    <title>Document</title>
</head>
<body>
  <!-- Sidebar -->
  <custom-sidebar data-active-menu="user-profile"></custom-sidebar>
  
  <!--Begin: Main Content -->
  <main>
    <!--Begin: Header -->
    <div id="header">
      <div class="header-user">
        <div class="user-avatar">
          <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user-name">
          <h3 id="name-of-user">Trần Quang Hiếu</h3>
        </div>
        <div class="user-streak">
          <img src="/src/public/img/list-team-goal/slider2.png" alt="" class="icon-streak">
          <div class="number-streak">
            <span>30</span>
          </div>
        </div>
      </div>

      <div class="header-time">
        <h4 class="time">
          9:41
        </h4>
      </div>
    </div>
    <!--End: Header -->
    
    
    

    <div class="profile-container">
      <h2>Edit profile</h2>
      <div class="profile-image" onclick="triggerFileInput()">
          <img src="../public/img/login/facebook.png" alt="Profile">
          <input type="file" id="image" name="image" accept="image/*" onchange="handleChange(event)">
      </div>
      
      <div class="input-container">
          <label for="name">Name</label>
          <input type="text" id="name" value="Võ Hùng Cường">
      </div>
      <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" value="vohungcuong@gmail.com">
      </div>
      <div class="input-container">
          <label for="phone">Phone number</label>
          <input type="tel" id="phone" value="0918300595">
      </div>
  
      <!-- Nút Change -->
      <button id="changeButton" >Change</button>
  </div>
  
    </main>


<script src="../public/activity/user_profile_activity.js"></script>
<script src="../js/component.js"></script>

<!-- Our main JS file -->
<script type="module" src="../public/activity/time.js"></script>

</body>
</html>