/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF7B4D;
    --secondary-color: #FFB54A;
    --success-color: #4caf50;
    --error-color: #f44336;
}


@font-face {
    font-family: 'Baloo2';
    src: url('../font-text/Baloo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo2_extra_bold';
    src: url('../font-text/static/Baloo2-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo2_regular';
    src: url('../font-text/static/Baloo2-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo2_medium';
    src: url('../font-text/static/Baloo2-Medium.ttf') format('truetype');
}


html {
    font-family: 'Baloo2', sans-serif;
}

/* Header */
#header {
    height: 46px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex; /* Đặt flex để bố cục dễ quản lý */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    padding: 0 16px; /* Tạo khoảng cách bên trong */
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Logo */
#logo {
    display: flex;
  
    align-items: center; /* Căn giữa logo và tên theo chiều dọc */
    
    height: 100%; /* Giữ chiều cao bằng với header */
}

#header #logo .logo-img {
    width: 35px;
    height: 100%;
    object-fit: contain; /* Giữ hình ảnh cân đối nếu có kích thước khác nhau */
}

#header #logo .logo-name {
    color: #000;
    font-size: 20px;
    font-weight: 1000;
    margin-left: 5px;
}

/* Nav */
#nav {
    height: 100%;
    display: flex;
    flex: 3;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

#nav li {
    list-style: none;
    height: calc(100% - 16px);
    padding: 0 12px;
}

#nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Chiều cao bằng li */
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0 24px;
    font-weight: 500;
}

#nav li:hover a {
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
}

/* Search Button */
.search-btn {
    flex: 1;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 5px;
    max-width: 200px;
    height: calc(100% - 16px);
    max-height: 30px;
   
}

.search-btn .icon-search-btn {
    margin-left: 10px;
    align-self: center;
}