/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo2';
}

html {
    /* width: 100%; */
}

:root {
    --primary-color: #FF7B4D;
    --secondary-color: #FFB54A;
    --third-color: #FF7B4D;
    --success-color: #4caf50;
    --error-color: #f44336;
    --background-color: #FFE1CC;
}
body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    height: 100vh; /* Chiều cao toàn màn hình */
    margin: 0;
}


.first-login{
    display: flex;
    align-items: center;
    min-height: 500px;
    width: auto;
    margin: auto;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 0px; 
    background-color: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}


.first-login .img-login2 {
    position: relative;
    width: 100%; /* Make sure the image takes up the full width */
    height: 100%; /* Make sure the image takes up the full height */
    border-radius: 5px;  
    padding-right: 15px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-login2 .image-descr2{
    min-height: 500px;
}



.first-login .login-container{
    position: relative;
    border: #000;
    height: auto; /* The height will be auto-adjusted */
    padding: 32px;
}

.title{
    text-align: center;
    color: #545252;
}

.form-email .email{
    width: 250px; 
    padding: 8px;
    border: 0.7px solid #ccc;
    border-radius: 4px; 
    font-size: 14px;
    outline: none;
    margin-top: 32px;
    margin-bottom: 8px;
}

.form-password{
    display: flex;
    flex-direction: column;
    margin-bottom:15px ;
}

.form-password .password{
    width: 250px; 
    padding: 8px;
    border: 0.7px solid #ccc; 
    border-radius: 4px; 
    font-size: 14px;
    outline: none;
    margin-bottom: 0px;
}

.form-password .forgot-password{
    text-decoration: none;
    padding-top: 4px;
    color: #F56601;
    font-size: 12px;
    }

.btn-login{
    display: block;
    width: 150px;
    padding: 4px;
    margin: 0 auto;
    border: none;
    border-radius: 5px; 
    font-size: 18px;
    color: #fff;
    outline: none;
    margin-bottom: 8px;
    background-color: #F56601;
}
.btn-login:hover{
    opacity: 0.7;
}

.sign-up{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
}

.sign-up .label{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.sign-up .link-sign-up{
    margin-left: 5px;
    text-decoration: none;
    color: #F56601;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-gg-fb{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 5px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.login-gg-fb .gg-login, .login-gg-fb .fb-login{
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;
    width: 200px;
    height: 30px;
    border: #ccc solid 0.1px ;
    background-color: #fff;
}

.login-gg-fb .facebook, .login-gg-fb .google{
    color: #000;
    opacity: 0.5;
    text-align: center;
}
