@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  
}
html{
  font-family: 'Baloo2', sans-serif;
  line-height: 1.5rem;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: 'Baloo2', sans-serif;
  margin: 0;
}

/* Content */

/* Button list */


/* Project list */
  /* MODAL CREATE TEAM */
  .examples {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 2rem;
  }
  
  .examples pre {
    background-color: #f7f7f7;
  }
  
  #sample1 {
    display: block;
    width: 100%;
  }

  .modal-footer .btn-primary {
    color: #fff;
  }

  .modal-body label {
    font-weight: 500;
  }