@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  
}
html{
  font-family: 'Baloo2', sans-serif;
  line-height: 1.5rem;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: 'Baloo2', sans-serif;
  margin: 0;
}

/* Content */

/* Button list */


/* Project list */
  /* MODAL CREATE TEAM */
  .examples {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 2rem;
  }
  
  .examples pre {
    background-color: #f7f7f7;
  }
  
  #sample1 {
    display: block;
    width: 100%;
  }

  .modal-footer .btn-primary {
    color: #fff;
  }

  .modal-body label {
    font-weight: 500;
  }

  /* MODAL FILTER TEAM */
  
  #modal-filter-team .modal-body .form-check-title {
    display: flex;
    justify-content: start;
    align-items: center;

    h6 {
      margin-bottom: 0;
      margin-left: 12px;
    }
  }
  #modal-filter-team .icon-streak {
    width: 24px;
  }

  #modal-filter-team .modal-body .form-check {
    display: flex;
    
    align-items: center;

    .form-check-input {
      text-align: center;
      height: 24px;
      width: 24px;
      margin-right: 12px;
      border-color: #ccc;
    }

    .form-check-label {
      display: flex;
      font-weight: 100;
      background-color: rgba(217, 217, 217, 0.4);
      border-radius: 10px;
      width: 90%;
      height: 32px;
      justify-content: center;
      align-items: center;
    }

  }

  #modal-filter-team .modal-body .form-check:hover {
    .form-check-input {
      cursor: pointer;
      border-color: var(--primary-color);
      border-width: 2px;
    }

    .form-check-label {
      background-color: var(--primary-color);
      color:#fff;
      cursor: pointer;
    }
  }

  #modal-filter-team .modal-body .form-check-input:checked + .form-check-label {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
  }

  #modal-filter-team .modal-body .form-check-input:checked {
    border: none
  }


  .modal-body .container .row .col {
    padding: 8px;
  }

  .modal-body .container {
    margin-top: 8px;
    margin-bottom: 24px;
  }