@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo2', sans-serif;
    font-weight: 500;
}


html{
    font-family: 'Baloo2', sans-serif;
    line-height: 1.5rem;
  }
  
  body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #ccc;
  }
 
  .container{
    border: 1px solid var(--primary-color);
    border-radius: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: min(3em, 15%);
  
    h2, p { margin-top: 1em }
  }
  
  h3{
    font-size: calc(1.3rem + 0.6vw);
  }
  .user-streak span{
    font-weight: 600;
  }
  
h2{
    margin-bottom: 20px;
}

.profile-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    height: calc(100% - 80px);
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-weight: 10;
}
.profile-image {
    position: relative;
    display: inline-block;
}
.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}
.input-container {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 12px;
    width: 80%;
}
.input-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.input-container input {
    width: 100%;
    padding: 8px;
    border: 2px solid #d66;
    border-radius: 5px;
    font-size: 16px;
}

#image{
  display: none;
}


#changeButton {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#changeButton:hover {
  opacity: 0.7  ;
}